{{!-- 
the result should look like:
<div class="group">      
  <input type="text" required placeholder="Hello">
  <label>Name</label>
  <span class="bar"></span>
  <p class="error">Card number is required</p>
</div>
 --}}
{{yield}}
<span class="float-label-bar"></span>
<p class="error"></p>